<div class="footer p-4  d-flex align-items-center ">
    <div class="container ">
        <div class="row ">

            <div class="col-md-4 mb-5 mb-lg-0">
                <div class="location text-center">
                    <h3 class="text-white">LOCATION</h3>
                    <p class="text-white-50">
                        2215 John Daniel Drive<br>
                        Clark, MO 65243
                    </p>
                </div>
            </div>

            <div class="col-md-4 mb-5 mb-lg-0">
                <div class="social text-center">
                    <h3 class="text-white">AROUND THE WEB</h3>
                    <div class="social-icons text-white">
                        <span><i class="fa-brands fa-facebook-f fs-5"></i></span>
                        <span><i class="fa-brands fa-twitter fs-5"></i></span>
                        <span><i class="fa-brands fa-linkedin fs-5"></i></span>
                        <span><i class="fa-solid fa-globe fs-5"></i></span>
                    </div>
                </div>
            </div>

            <div class="col-md-4 mb-5 mb-lg-0">
                <div class="details text-center">
                    <h3 class="text-white">ABOUT FREELANCER</h3>
                    <p class="text-white-50">
                        Freelance is a free to use, MIT<br> 
                        licensed Bootstrap theme created by Route
                    </p>
                </div>
            </div>

        </div>
    </div>
</div>

<div class="copy-right mb-0 p-2 text-white-50 text-center">
    <p class="mb-0">Copyright © Your Website 2021</p>
</div>