<div class="home py-5">
    <div class="container mx-auto">
        <div class="home-body text-center d-flex flex-column justify-content-center align-items-center">
            <img src="../../assets/images/avataaars.svg" alt="" class="home-avatar">
            <h1 class="home-title mt-4 fw-bold text-white">START ANGULAR</h1>
            <span class="home-icon my-3 position-relative text-white"><i class="fa-solid fa-star fa-2x"></i></span>
            <p class="text-white fs-4">Graphic Artist - Web Designer - Illustrator</p>
        </div>
    </div>
</div>