.home {
    height: 100vh;
    background: #1abc9c;
}

.home-avatar {
    width: 250px;
}

.home-title {
    font-size: 60px !important;
    letter-spacing: 2px;
}

.home-icon::after,
.home-icon::before {
    content: "";
    position: absolute;
    top: 50%;
    width: 120px;
    height: 4px;
    background-color: #fff;
}

.home-icon::before {
    right: -380%;
}

.home-icon::after {
    left: -380%;
}